header {
    height: 100%;
    position: fixed;
    left: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
}

header ul li {
    margin: 5px 0;
}

header ul li svg {
    color: #6d6e71;
    width: 20px;
    margin-top: -3px;
}

header ul li a {
    margin: 0 10px;
    padding: 10px !important;
}

.r-content {
    position: absolute;
    left: 250px;
    width: calc(100% - 250px);
}

.t-btn {
    padding: 12px 20px;
    background-color: #333;
    border-radius: 25px;
}

.faqsec .bulb svg {
    width: 80px;
}

.faqsec .box {
    position: relative;
    height: 195px;
}

.faqsec .bulb {
    position: absolute;
    top: -60px;
}

.slider {
    overflow-x: scroll;
}

.menubtns button {
    border: none;
    display: none;
}


.contactoverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black overlay */
    z-index: 1;
    display: none;
}

/* Contact Form Popup styles */
.contactformpopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 22222;
    display: none;
    /*display: block; /* Initially hidden */
    border-radius: 10px;
}







.sametp .nav-link.active {
    border-bottom: 2.5px solid;
    border-radius: 0;
}

.sametp .nav-item {
    border-bottom: 1px solid #9ca3af;
}

.sametp .nav-link {
    padding: 10px 30px;
}

.sametp .input-container {
    position: relative;
    display: inline-block;
}

.sametp .input-container input[type="text"] {
    padding-left: 30px;
    /* Space for the icon */
    padding: 8px 30px;
    border-radius: 20px;
    border: 1px solid #333;
}

.sametp .input-container .fa-search {
    position: absolute;
    left: 10px;
    /* Adjust as needed */
    top: 50%;
    font-size: 15px;
    transform: translateY(-50%);
    color: #333;
    /* Adjust icon color */

}

#design .reddot {
    width: 12px;
    height: 12px;
    background: red;
    border-radius: 20px;
}





#historical .card {
    border: none;
    border-radius: 20px;
}

#historical .card .top-img {
    border-top-right-radius: 20px;
}

#historical .card .btn-dt a {
    background-color: #000;
    display: block;
    text-align: center;
    padding: 15px 0;
    font-size: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#historical .card .top-img img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.dropdown-menu svg{
    margin-right: 25px;
}
.form-control {
	height: 50px;
	border-color: #cecece;
	border-radius: 4px;
}
@media (max-width: 575px) {
    header {
        left: -275px;
        display: none;
        transition: 1s ease;

    }

    .r-content {
        left: 0;
        width: 100%;
    }

    .showheader {
        left: 0;
        display: block;
        position: fixed;
        background-color: #fff !important;
        z-index: 111;
        transition: 1s ease;
    }

    .menubtns button {
        display: block;
    }
}
